* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  width: 100vw; 
}

header {
  width: 100%;
  background: #ee69ee;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
}

.menu-button-container {
  height: 20px;
  width: 30px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  border: none;
  background: none;
}

.hamburger span {
  width: 100%;
  height: 4px;
  background: #fff;
  border-radius: 3px;
  cursor: pointer;
}
