* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  width: 100vw; 
}

header {
  width: 100%;
  background: #ee69ee;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.menu-button-container {
  height: 20px;
  width: 30px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  position: relative;
}

.hamburger span {
  width: 100%;
  height: 4px;
  background: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.hamburger span:nth-child(1).active {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.hamburger span:nth-child(2).active {
  display: none;
}

.hamburger span:nth-child(3).active {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%) rotate(135deg);
}

.hamburger span:nth-child(1).active,
.hamburger span:nth-child(3).active {
  width: 20px;
}

.nav-container {
  margin-top: 60px;
  padding: 20px;
  width: 100%;
  background: #f5f3f3;
  display: none;
}

.nav-container.visibility {
  display: block;
}

.nav {
  width: 100%;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.link-item a {
  text-decoration: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #ee69ee;
}

.link-item {
  transition: all 0.3s ease;
}

.link-item:hover {
  transform: translateY(-5px) scale(1.1);
}
